{% load static %}
<nav class="navbar bg-peach">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" >
        <span style="font-size: 25px">
            MyFruitShop
        </span>
    </a>
      {% if user.is_authenticated %}
          <div>
              {{ user.email }}
              <a class="btn btn-sm btn-outline-success" href="{% url 'logout' %}">Выйти</a>
          </div>
      {% else %}
          <form class="d-flex" role="search" method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <input class="form-control me-2" id="id_username" name="username" type="search" placeholder="username" aria-label="Search">
          <input class="form-control me-2" id="id_password" name="password" type="password" placeholder="password" aria-label="Search">
          <button class="btn btn-sm btn-outline-success btn-header" type="submit">Login</button>
        </form>
      {% endif %}
  </div>
</nav>
